<!DOCTYPE html >
<html lang="en">

<head>
    <meta charset="=UTF-8">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <title> Peaky blinders API </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap">
    <style>
        body {
            background-color: black;
            color: #fff;
            font-family: 'Gideon Roman', Arial, sans-serif;
            text-align: center;
            padding-top: 100px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        
        h1 {
            font-size: 48px;
        }
        
        a {
            color: #fff;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div class="smoke">

    </div>
    <h1>Peaky Blinder API</h1>
    <h2> <a href="/docs"> Docs</a>
</body>